name: Test

on:
  pull_request:
    branches:
      - master
      - release

jobs:
  lint:
    runs-on: ubuntu-latest
    if: "! contains(toJSON(github.event.commits.*.message), 'WIP') && ! contains(toJSON(github.event.commits.*.message), 'wip')"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'

      - name: Setup
        run: npm add -g @antfu/ni

      - name: Install
        run: nci

      - name: Lint
        run: pnpm run -r lint
